[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
annofabcli = {editable = true,path = "."} # For reading setup.py
pytest = "*"
pytest-xdist = "*"
pytest-cov = "*"
isort = "*"
mypy = "*"
pylint = "*"
twine = "*"
autoflake = "*"
flake8 = "*"
docutils = "*"
# blackは正式版がリリースされるまで、pipenvでは実行しない
# black = "*"

