[tool.poetry]
name = "annofabcli"
version = "1.34.4"
description = "Utility Command Line Interface for AnnoFab"
authors = ["yuji38kwmt <yuji38kwmt@gmail.com>"]
maintainers = ["yuji38kwmt <yuji38kwmt@gmail.com>"]
license = "MIT"
keywords=["annofab", "cli"]
readme="README.md"
repository="https://github.com/kurusugawa-computer/annofab-cli"
classifiers = [
        "Development Status :: 4 - Beta",
        "Intended Audience :: Developers",
        "License :: OSI Approved :: MIT License",
        "Environment :: Console",
        "Programming Language :: Python",
        "Programming Language :: Python :: 3 :: Only",
        "Programming Language :: Python :: 3.6",
        "Programming Language :: Python :: 3.7",
        "Programming Language :: Python :: 3.8",
        "Topic :: Utilities",
        "Operating System :: OS Independent",
]


[tool.poetry.dependencies]
python = "^3.6.1"
requests = "*"
pillow = "*"
pyyaml = "*"
dictdiffer = "*"
more-itertools = "*"
jmespath = "*"
pyquery = "*"
isodate = "*"
annofabapi = ">=0.38.7"
pandas = "^1.1"
bokeh = "^2.2.1"
holoviews= "^1.13.3"

[tool.poetry.dev-dependencies]
# test library
pytest = "*"
pytest-xdist = "*"
pytest-cov = "*"

# format library
isort = "*"
autoflake = "*"
black = {version = "^20.8b1", allow-prereleases = true}

# lint library
flake8 = "*"
mypy = "*"
pylint = "*"

[tool.poetry.scripts]
annofabcli = "annofabcli.__main__:main"

[tool.isort]
line_length = 120
# blackの設定に合わせる
# https://black.readthedocs.io/en/stable/the_black_code_style.html#line-length
multi_line_output=3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true

[tool.black]
line-length = 120

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

