
.confluenceTable {
  border-collapse: collapse
}

.confluenceTh, .confluenceTd {
  border: 1px solid #c1c7d0;
  padding: 7px 10px;
  vertical-align: top;
  text-align: left;
  min-width: 8px
}

.confluenceTable ol, .confluenceTable ul {
  margin-left: 0;
  padding-left: 22px
}

.confluenceTable, .table-wrap {
  margin: 10px 0 0 0;
  overflow-x: auto
}

.confluenceTable:first-child, .table-wrap:first-child {
  margin-top: 0
}

table.confluenceTable th.confluenceTh, table.confluenceTable th.confluenceTh>p, table.confluenceTable td.confluenceTd.highlight, table.confluenceTable td.confluenceTd.highlight>p, table.confluenceTable th.confluenceTh.highlight-grey, table.confluenceTable th.confluenceTh.highlight-grey>p, table.confluenceTable td.confluenceTd.highlight-grey, table.confluenceTable td.confluenceTd.highlight-grey>p {
  background-color: #f4f5f7
}

table.confluenceTable th.confluenceTh.info, table.confluenceTable th.confluenceTh.info>p, table.confluenceTable td.confluenceTd.highlight.info, table.confluenceTable td.confluenceTd.highlight.info>p, table.confluenceTable th.confluenceTh.highlight-blue, table.confluenceTable th.confluenceTh.highlight-blue>p, table.confluenceTable td.confluenceTd.highlight-blue, table.confluenceTable td.confluenceTd.highlight-blue>p {
  background-color: #deebff
}

table.confluenceTable th.confluenceTh.success, table.confluenceTable th.confluenceTh.success>p, table.confluenceTable td.confluenceTd.highlight.success, table.confluenceTable td.confluenceTd.highlight.success>p, table.confluenceTable th.confluenceTh.highlight-green, table.confluenceTable th.confluenceTh.highlight-green>p, table.confluenceTable td.confluenceTd.highlight-green, table.confluenceTable td.confluenceTd.highlight-green>p {
  background-color: #e3fcef
}

table.confluenceTable th.confluenceTh.warning, table.confluenceTable th.confluenceTh.warning>p, table.confluenceTable td.confluenceTd.highlight.warning, table.confluenceTable td.confluenceTd.highlight.warning>p, table.confluenceTable th.confluenceTh.highlight-red, table.confluenceTable th.confluenceTh.highlight-red>p, table.confluenceTable td.confluenceTd.highlight-red, table.confluenceTable td.confluenceTd.highlight-red>p {
  background-color: #ffebe5
}

table.confluenceTable th.confluenceTh.note, table.confluenceTable th.confluenceTh.note>p, table.confluenceTable td.confluenceTd.highlight.note, table.confluenceTable td.confluenceTd.highlight.note>p, table.confluenceTable th.confluenceTh.highlight-yellow, table.confluenceTable th.confluenceTh.highlight-yellow>p, table.confluenceTable td.confluenceTd.highlight-yellow, table.confluenceTable td.confluenceTd.highlight-yellow>p {
  background-color: #fffae5
}

table.confluenceTable th.confluenceTh, table.confluenceTable th.confluenceTh>p {
  font-weight: bold
}

table.confluenceTable th.confluenceTh.nohighlight, table.confluenceTable th.confluenceTh.nohighlight>p {
  font-weight: normal;
  background-color: transparent
}

table.confluenceTable td.confluenceTd img, table.confluenceTable td.confluenceTd .confluence-embedded-file-wrapper img, table.confluenceTable th.confluenceTh .confluence-embedded-file-wrapper img {
  max-width: none
}

table.confluenceTable td.numberingColumn {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default
}

